body {
  margin: 0 auto;
  padding: 0;
  background-color: #8ec9d7;
  overflow: scroll;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a,
button {
  cursor: pointer;
}

/* -------------------------------NavBar---------------------------------- */

.desktopMenu,
.desktopDropdown {
  display: none;
}

nav {
  background-color: #8ec9d7;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: top 1.25s;
  z-index: 100000;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
}

.dropdownExcluder {
  background-color: #8ec9d7;
  position: relative;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
  margin: 10px;
}

.burgerMenu {
  margin: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.burgerMenu i {
  font-size: 30px;
  color: #edeeef;
  outline: none;
}

#burgerMenu {
  position: absolute;
  z-index: -10;
}

.dropdownContent {
  position: absolute;
  right: -35px;
  top: -100vh;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f7f7f7;
  -webkit-box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.dropdownContent a {
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  color: #282828;
  outline: none;
}

#firstDropdownItem {
  padding-top: 100px;
}

.menuSlideDown {
  position: absolute;
  top: -300%;
  animation: slide-down 1s forwards ease-out;
}

@keyframes slide-down {
  100% {
    top: -15px;
  }
}

.menuSlideUp {
  position: absolute;
  top: 35px;
  animation: slide-up 1s forwards;
}

@keyframes slide-up {
  100% {
    top: -400%;
  }
}

#burgerIcon.menuOpen {
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in-out;
}

#burgerIcon.menuClosed {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

/* -------------------------------Header----------------------------------- */

header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14vh;
  margin-top: 15px;
  background: url(assets/images/homeless.png) no-repeat center center fixed,
    #8ec9d7;
  background-position-x: 10%;
  background-size: cover;
  height: 90vh;
}

.headerText {
  margin: 10px 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #edeeef;
}

header h1 {
  font-size: 55px;
  margin-top: 37.5%;
}

header h2 {
  margin: 0;
}

.learnMoreHeaderBtn {
  margin: 40px 0;
  height: 60px;
  width: 120px;
  border-radius: 12px;
  border: none;
  background-color: #9bd187;
}

.learnMoreHeaderBtn a {
  color: #edeeef;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

/* -------------------------------Section - InfoCards----------------------------------- */

#infoCards {
  background-color: #cce8ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
}

section h1 {
  text-transform: uppercase;
  margin: 0 40px;
  font-weight: 1000;
}

section h2 {
  margin: 10px 40px;
  font-size: 20px;
  font-weight: 200;
}

.pointedRoof {
  background-color: #cce8ef;
  height: 200px;
  width: 200px;
  top: 100%;
  border-radius: 8px;
  position: absolute;
  z-index: 0;
  transform: rotate(45deg);
  align-self: center;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
}

.whatWeDoCard {
  background-color: #59a9bc;
  margin: 10%;
  border-radius: 12px;
  height: 550px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #edeeef;
  z-index: 5;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
}

.helpIcon {
  height: 120px;
  width: 120px;
  margin: 10% 0 5% 0;
}

section button {
  margin: 40px;
  height: 60px;
  width: 120px;
  border-radius: 12px;
  border: none;
}

section button a {
  color: #edeeef;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.learnMoreBtn {
  background-color: #9bd187;
}

.ourTeamBtn {
  background-color: #59a9bc;
}

.whoWeAreCard {
  background-color: #9bd187;
  margin: 10%;
  height: 550px;
  border-radius: 12px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #edeeef;
  z-index: 6;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
}

.teamIcon {
  height: 120px;
  width: 120px;
  margin: 10% 0 5% 0;
}

/* -------------------------------Footer----------------------------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #8ec9d7;
  margin-top: 20px;
  color: #edeeef;
  font-size: 15px;
}

footer .logo img {
  width: 70px;
  margin: 25px 25px 0 25px;
}

.footerAnchors {
  display: flex;
  flex-direction: row;
}

.footerAnchors a {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  text-decoration: none;
  color: #edeeef;
  outline: none;
  margin: 10px;
  white-space: nowrap;
}

.footerSocialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 80%;
}

.footerSocialLinks a i {
  color: #edeeef;
  margin: 10px;
  font-size: 35px;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.developer a {
  text-decoration: none;
  color: #edeeef;
  cursor: pointer;
}

.freePik {
  text-align: center;
  margin: 10px 20px;
}

.freePik a {
  color: #edeeef;
  text-decoration: none;
}

/* -------------------------------MediaQuery for Desktop View---------------------------------- */
/* -------------------------------MediaQuery for Desktop View---------------------------------- */
/* -------------------------------MediaQuery for Desktop View---------------------------------- */

@media screen and (min-width: 620px) {
  a,
  button {
    cursor: pointer;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 14vh;
    margin-top: 15px;
    background: url(assets/images/homeless.png) no-repeat center center fixed,
      #8ec9d7;
    background-size: cover;
    height: 100vh;
  }

  /* -------------------------------NavBar---------------------------------- */

  .mobileMenu,
  .dropdownMenu {
    display: none;
  }

  .desktopMenu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 20%;
    flex-wrap: nowrap;
  }

  .desktopMenu a {
    text-decoration: none;
    color: #edeeef;
    font-weight: 600;
    margin: 10px;
    white-space: nowrap;
  }

  .desktopMenu i {
    padding: 0 3px;
  }

  .desktopDropdownBtn {
    padding: 20px 30px;
  }

  .desktopDropdownContent {
    position: absolute;
    right: 32%;
    top: 50%;
    margin: 28px;
    padding: 0;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  }

  .desktopDropdownContent a {
    font-size: 14px;
    width: 125px;
    height: 25px;
    padding: 10px 15px;
    text-decoration: none;
    color: #282828;
    outline: none;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
  }

  .dropdownItem:hover {
    background-color: grey;
    color: #edeeef;
    transition: all 0.2s ease-in-out;
  }

  .desktopDropdownBtn:hover .menuBtn {
    color: grey;
    transition: all 0.2s ease-in-out;
  }

  .desktopDropdownBtn:hover .desktopDropdownContent {
    display: flex;
  }

  .nonDropdownMenuitem:hover {
    color: gray;
    transition: all 0.3s ease-in-out;
  }

  /* -------------------------------Header----------------------------------- */

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 14vh;
    margin-top: 15px;
    background: url(assets/images/homeless.png) no-repeat center center fixed,
      #8ec9d7;
    background-position-x: 10%;
    background-size: cover;
    height: 90vh;
  }

  .headerText {
    margin: 10px 10%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: #edeeef;
  }

  header h1 {
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 15px;
    text-align: end;
  }

  header h2 {
    text-align: end;
    margin: 0;
    font-size: 25px;
  }

  /* -------------------------------Section - InfoCards----------------------------------- */

  #infoCards {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .pointedRoof {
    top: 98%;
  }

  .whatWeDoCard {
    margin: 5%;
    height: 500px;
    width: 35vw;
    flex-direction: column;
  }

  .helpIcon {
    height: 100px;
    width: 100px;
    margin: 10% 0 5% 0;
  }

  .learnMoreBtn a,
  .ourTeamBtn a {
    transition: all 0.3s ease-in-out;
  }

  .learnMoreBtn:hover a {
    color: #9bd187;
  }

  .ourTeamBtn:hover a {
    color: #59a9bc;
  }

  .learnMoreBtn:hover,
  .ourTeamBtn:hover {
    background-color: #edeeef;
    -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  }

  .whoWeAreCard {
    margin: 5%;
    height: 500px;
    width: 35vw;
    flex-direction: column;
  }

  .teamIcon {
    height: 100px;
    width: 100px;
    margin: 10% 0 5% 0;
  }

  /* -------------------------------Footer----------------------------------- */

  footer {
    flex-direction: column;
  }

  .footerAnchors {
    display: flex;
    flex-direction: row;
  }

  footer a:hover {
    color: gray;
    transition: all 0.3s ease-in-out;
  }

  footer a i:hover {
    color: gray;
    transition: all 0.3s ease-in-out;
  }

  .freePik a {
    color: #edeeef;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  .freePik a:hover {
    color: gray;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  .footerSocialLinks {
    width: 60%;
  }
}
