body {
  margin: 0 auto;
  padding: 0;
  background-color: #f7f7f7;
  overflow: scroll;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 12vh;
  margin: 15px;
}

a,
button {
  cursor: pointer;
}

/* -------------------------------NavBar---------------------------------- */

nav {
  background-color: #8ec9d7;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 8px;
  transition: top 0.5s;
}

.dropdownExcluder {
  background-color: #8ec9d7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo img {
  width: 70px;
  margin: 10px;
}

.burgerMenu {
  margin: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.burgerMenu i {
  font-size: 30px;
  color: #edeeef;
  outline: none;
}

.dropdownContent {
  position: absolute;
  right: -20px;
  top: -250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f7f7f7;
  -webkit-box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.dropdownContent a {
  font-size: 18px;
  padding: 10px 15px;
  text-decoration: none;
  color: #282828;
  outline: none;
}

.menuSlideDown {
  position: absolute;
  top: -300%;
  animation: slide-down 1s forwards ease-out;
}

@keyframes slide-down {
  100% {
    top: 56px;
  }
}

.menuSlideUp {
  position: absolute;
  top: 35px;
  animation: slide-up 1s forwards;
}

@keyframes slide-up {
  100% {
    top: -300%;
  }
}

#burgerIcon.menuOpen {
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in-out;
}

#burgerIcon.menuClosed {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

/* -------------------------------Footer----------------------------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #8ec9d7;
  margin-top: 20px;
  color: #edeeef;
  font-size: 15px;
}

footer .logo img {
  width: 70px;
  margin: 25px 25px 0 25px;
}

.footerAnchors {
  display: flex;
  flex-direction: row;
}

.footerAnchors a {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  text-decoration: none;
  color: #edeeef;
  outline: none;
  margin: 10px;
}

.footerSocialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 80%;
}

.footerSocialLinks a i {
  color: #edeeef;
  margin: 10px;
  font-size: 35px;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.developer a {
  text-decoration: none;
  color: #edeeef;
  cursor: pointer;
}
