body {
  background-color: #edeeef;
}

.ourTeamHeader {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  background-color: #edeeef;
}

.ourTeamContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ourTeamTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ourTeamHeader h1 {
  margin: 50px 20px 20px 20px;
  color: rgb(54, 54, 54);
  width: 30%;
  font-size: 40px;
}

.ourTeamHeader h2 {
  margin: 20px 60px;
  display: flex;
  justify-content: flex-end;
  color: rgb(54, 54, 54);
  width: 70%;
  font-size: 30px;
}

.ourTeamHeader p {
  margin: 20px 60px;
  display: flex;
  justify-content: flex-end;
  color: rgb(54, 54, 54);
  width: 70%;
  font-size: 20px;
}

li {
  color: rgb(54, 54, 54);
  margin: 10px;
  font-size: 20px;
}

.contactBtn {
  align-self: center;
  background-color: #9bd187;
  margin: 40px 100px;
  height: 70px;
  width: 160px;
  border-radius: 12px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.contactBtn a {
  color: #edeeef;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.contactBtn:hover a {
  color: #9bd187;
}

.contactBtn:hover {
  background-color: #edeeef;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 620px) {
  .ourTeamContainer {
    width: 90%;
    align-self: center;
    align-items: center;
  }

  .ourTeamHeader h1 {
    margin: 50px 20px 20px 20px;
    color: rgb(54, 54, 54);
    font-size: 40px;
    width: 300px;
  }
}
