body {
  margin: 0 auto;
  padding: 0;
  background-color: #8ec9d7;
  overflow: scroll;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a,
button {
  cursor: pointer;
}
